private/wsdl/GoodsPaygate.asmx.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RequestTransaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="requesData" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="partnerCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="commandType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="version" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestTransactionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestTransactionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RequestTransactionSoapIn">
    <wsdl:part name="parameters" element="tns:RequestTransaction" />
  </wsdl:message>
  <wsdl:message name="RequestTransactionSoapOut">
    <wsdl:part name="parameters" element="tns:RequestTransactionResponse" />
  </wsdl:message>
  <wsdl:portType name="GoodsPaygateSoap">
    <wsdl:operation name="RequestTransaction">
      <wsdl:input message="tns:RequestTransactionSoapIn" />
      <wsdl:output message="tns:RequestTransactionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GoodsPaygateSoap" type="tns:GoodsPaygateSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RequestTransaction">
      <soap:operation soapAction="http://tempuri.org/RequestTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GoodsPaygateSoap12" type="tns:GoodsPaygateSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RequestTransaction">
      <soap12:operation soapAction="http://tempuri.org/RequestTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GoodsPaygate">
    <wsdl:port name="GoodsPaygateSoap" binding="tns:GoodsPaygateSoap">
      <soap:address location="https://pay.vtc.vn/WS/GoodsPaygate.asmx" />
    </wsdl:port>
    <wsdl:port name="GoodsPaygateSoap12" binding="tns:GoodsPaygateSoap12">
      <soap12:address location="https://pay.vtc.vn/WS/GoodsPaygate.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>